Django
dj-database-url>=2.0
psycopg2-binary>=2.9
Pillow>=10.0
python-dotenv
Markdown
gunicorn>=21.0
whitenoise>=6.0
behave==1.3.3
git+https://github.com/behave/behave-django.git@main
selenium==4.16.0
